*{
box-sizing: border-box;
}
#container{
    width:960px;
    margin:0 auto;
}

body{
     align-content: center;
     font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     color: #777;
     background-color: #777;
     width: 960px;
     font-size: 18px;
}

header{
    width: 960px;
    background-color: #ebebeb;
    text-align: center;
    height: 70px;
    vertical-align: middle;
    margin: auto;
    padding-top: 25px;
    color: gray;
    padding-bottom: 25px;
}

nav{
    width: 960px;
    background-color: #ebebeb;
    text-align: center;
    height: 70px;
    vertical-align: middle;
    margin: auto;
    padding-top: 25px;
    color: gray;
    padding-bottom: 25px;

}

#wrapper{
    width: 100%;
    display: table;
    text-align: center;
    margin: 0px;
    align-content: space-between;

}

section{
    width: 495px;
    background-color: #ebebeb;
    text-align: center;
    height: auto;
    vertical-align: middle;
    margin: auto;
    padding-top: 25px;
    color: gray;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    float: left;
    margin-right: 25px;
}


article{
    color:  #f7f8f9;
    background-color:  #777;
    padding-top: 10px;
}


#child-div{
    width: 80%;
    background-color: #f7f8f9;
    height: 40px;
    vertical-align: middle;
    margin: auto;
    padding-top: 20px;
    color: #777;
    padding-bottom: 30px;
}

aside{
    min-height: 315px;
    min-width: 400px;
    background-color: #ebebeb;
    vertical-align: 0%;
    text-align: center;
    padding-top: 25px;
    margin-left: 510px;
    text-align: center;
    color: #777;
    align-content: center;
}


footer{
    clear: both;
    width: 960px;
    background-color: #ebebeb;
    text-align: center;
    height: 70px;
    vertical-align: middle;
    margin: auto;
    padding-top: 25px;
    color: gray;
    padding-bottom: 25px;
}







